class <%= model.capitalize %>Form < Netzke::Basepack::Form
  def configure(c)
    c.model = "<%= model.capitalize %>"
    c.items = [<% model.capitalize.constantize.column_names.each do |col| %>
     :<%= col %>, <% end %>
    ]
  end
<% if options.mixin? %>
  js_configure do |c|
    c.mixin
  end
<% end %>
end
